<div class="title" id="all_cards_title">
  <h1>All Cards</h1>
</div>

<% if flash[:error]  %>
  <div id="error"><%= flash[:error] %></div>
<% end %>

<% if flash[:notice]  %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>


<table>
  <thead>
    <tr>
      <th>Cost</th>
      <th>Name</th>
      <th>Type</th>
      <th>Rarity</th>
      <th>Attack</th>
      <th>Health</th>
      <th>Durability</th>
      <th>Text</th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>

      <tr>
        <td>
          <%= card.cost %>
        </td>
        <td> 
          <%= link_to card.name, card %>
        </td>
        <td> 
          <%= card.card_type %>
        </td>

        <td>
          <font <%= "color= " + card.getRarityHexColour %> >
           <%= card.getRarityName %>
          </font>
        </td>

        <td> 
          <%= card.attack %>
        </td>
        
        <td> 
          <%= card.health %>
        </td>

        <td> 
          <%= card.durability %>
        </td>

        <td> 
          <%= raw card.text %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>