<h1>All Cards</h1>

<% if flash[:error]  %>
  <div id="error"><%= flash[:error] %></div>
<% end %>

<% if flash[:notice]  %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Rarity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= link_to card.name, card %></td>
        <td><%= card.cost %></td>
        <td><%= card.rarity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>