<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @card.cost %>
</p>

<p>
  <strong>Rarity:</strong>
  <%= @card.rarity %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
