<p id="notice"><%= notice %></p>


<div class='page_title' id='card_title'>
	<h1> <%= @card.name %> </h1>
</div>


<div id="card_information">

<p>
  <strong>Cost:</strong>
  <%= @card.cost %>
</p>

<p>
  <strong>Rarity:</strong>
  <%= @card.rarity %>
</p>
</div>

<%= link_to 'Back', cards_path %>
