<p id="notice"><%= notice %></p>

<div class='page_title' id='card_title'>
	<h1> <%= @card.name %> </h1>
</div>

<div class='page_subtitle' id='card_rarity'>
	<p>
		<font <%= "color= #{@rarity.hexcolour}" %> >
  		<strong><%= @rarity.name %> card</strong>
	  	</font>
	</p>
</div>

<div id="card_information">

<p>
  <strong>Cost:</strong>
  <%= @card.cost %>
</p>

</div>

<%= link_to 'Back', cards_path %>