<p>
<%= link_to '<- Back to cards page', cards_path %>
</p>

<p id="notice"><%= notice %></p>

<div class='page_title' id='card_title'>
	<h1> <%= @card.name %> </h1>
</div>

<div class='page_subtitle' id='card_rarity'>
	<p>
		<font <%= "color= #{@rarity.hexcolour}" %> >
  		<strong><%= @rarity.name %> card</strong>
	  	</font>
	</p>
</div>

<div class='description_text' id='card_description_text'>
	<p>
  		<strong>Description:</strong>  <em><%= 
	ActionView::Base.full_sanitizer.sanitize(@card.text) %></em>
	</p>	

</div>

<div class='flavour_text' id='card_flavour_text'>
	<p>
  		<strong>Flavour:</strong> <em><%= raw ActionView::Base.full_sanitizer.sanitize(@card.flavour) %></em>
	</p>
</div>

<div id="card_information">

	<table>
		<% unless @card.card_type.empty? %>		
			<tr>
				<td><strong>Card type: </strong></td>
				<td id='card_type'><%= @card.card_type %></td>	
			</tr>
		<% end %>

		<% unless @card.cost.nil? %>		
			<tr>
				<td><strong>Cost: </strong></td>
				<td id='card_cost'><%= @card.cost %></td>	
			</tr>
		<% end %>

		<% unless @card.health.nil? %>		
			<tr>
				<td><strong>Health: </strong></td>
				<td id='card_health'><%= @card.health %></td>	
			</tr>
		<% end %>
		
		<% unless @card.attack.nil? %>		
			<tr>
				<td><strong>Attack: </strong></td>
				<td id='card_attack'><%= @card.attack %></td>	
			</tr>
		<% end %>


	</table>


</div>

