<p>
<%= link_to '<- Back to cards page', cards_path %>
</p>

<p id="notice"><%= notice %></p>

<div class='page_title' id='card_title'>
	<h1> <%= @card.name %> </h1>
</div>

<div class='page_subtitle' id='card_rarity'>
	<p>
		<font <%= "color= #{@card.getRarityHexColour}" %> >
  		<strong><%= @card.getRarityName %> card</strong>
	  	</font>
	</p>
</div>


<div class='card_images' id='card_portrait'>

<img src='<%= "http://wow.zamimg.com/images/hearthstone/cards/enus/original/#{@card.json_id}.png" %>' style="float:left;">

<img src='<%= "http://wow.zamimg.com/images/hearthstone/cards/enus/animated/#{@card.json_id}_premium.gif" %>' style="float:left;">

</div>



<div id="card_information">

	<div id='card_text'>
		<p>
	  		<strong>Description:</strong>  <em><%= raw @card.text %></em>	
	  	</p>	

	</div>

	<div id='card_flavour_text'>
		<p>
	  		<strong>Flavour:</strong> <em><%= raw @card.flavour %></em>
		</p>
	</div>

	<div id='card_type'>
		<strong>Card type: </strong> <%= @card.card_type %>
	</div>	

	<div id='card_mana_cost'>
		<strong>Cost: </strong>	<%= @card.cost %>
	</div>	

	<div id='card_health'>
		<strong>Health: </strong><%= @card.health %>
	</div>	

	<div id='card_attack'>
		<strong>Attack: </strong><%= @card.attack %>
	</div>	

	<div id='card_durability'>
		<strong>Durability: </strong><%= @card.durability %>
	</div>	

			
		


</div>