<p class='notice'><%= notice %></p>

<div class='page-title-area'>

	<div class='page-title'><%= @card.name %></div>
	<div class='page-subtitle'><span class=<%= "#{@card.rarity_name.downcase}-text" %>><%= @card.short_description%></span> </div>

</div>

<div class='quick-info-area'>

<table>
<tr><td align="center">
		<img class='card-portrait' src='<%= "http://wow.zamimg.com/images/hearthstone/cards/enus/animated/#{@card.json_id}_premium.gif" %>' style='text-align:center;'  id='<%= @card.name %>-portrait' alt='<%= @card.text %>'>
</td></tr>

<tr><td>

	<div class='quick-info' id='card-flavour-text'>
  		"<%= raw @card.flavour %>"
	</div>	

	<div class='quick-info' id='card-set'>
		<span class='quick-info-key'>Card set: </span><span> <%= @card.card_set_name %>
	</div>

	<div class='quick-info' id='card-class'>
		<span class='quick-info-key'>Class: </span> 
		<span class='<%= @card.player_class_name.downcase %>-text'> 
			<%= @card.player_class_name %> 
		</span>
	</div>

	<%= render_quickinfo('mana') %>

	<% if @card.minion? %>
		<%= render_quickinfo('health') %>
	<% end %>

	<% if @card.minion? || @card.weapon? %>
		<%= render_quickinfo('attack') %>
	<% end %>

	<% if @card.weapon? %>
		<%= render_quickinfo('durability') %>
	<% end %>

</td></tr>	
</table>

</div>

<div class='card-area'>

</div>



