<div class="page-title-area">

  <div class="page-title" id="all_cards_title">
    All Cards
  </div>

</div>

<% if flash[:error]  %>
  <div id="error"><%= flash[:error] %></div>
<% end %>

<% if flash[:notice]  %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>

<div class="card-area">
<ul class="cards">

<% @cards.each do |card|%>
   <li class="card-block" id='<%=card.name%>' onclick="location.href='<%= root_url + card.getPath %>';" style="cursor: pointer;">
            <div class='card-block-name'>
            		<%= link_to card.name, root_url + card.getPath %>
            </div>
            

            <div class='card-block-info'>	
            		<span class=<%= "#{card.getRarityName.downcase}-text" %>><%= "#{card.getRarityName} #{card.card_type}"%></span>
            </div>
    </li>
<% end %>

</ul>
</div>