<p id='notice'><%= notice %></p>

<div class='page-title-area'>

	<div class='page-title'><%= @card.name %></div>
	<div class='page-subtitle'><span class=<%= "#{@card.getRarityName.downcase}-text" %>><%= @card.getShortDescription%></span> </div>

</div>

<div class='quick-info-area'>

	<div class='card-portrait-area' >
		<img class='card-portrait' src='<%= "http://wow.zamimg.	com/images/hearthstone/cards/enus/animated/#{@card.json_id}_premium.gif" %>' style='float:left;' id='<%= @card.name %>-portrait' alt='<%= @card.name %> card portrait'>
	</div>


	<div class='quick-info-title'>Quick Info</div>

	<div class='card-info' id='card-set'>
		<span class='card-info-key'>Card set: </span><span> <%= @card.getCardSetName %>
	</div>

	<div class='card-info' id='card-class'>
		<span class='card-info-key'>Class: </span><span> <%= @card.getClass %>
	</div>

	<div class='card-info' id='card-mana-cost'>
		<span class='card-info-key'>Cost: </span>	<%= @card.cost %> <%= image_tag "icons/Mana_icon.png" %>
	</div>


	<% if @card.minion? %>
		<div class='card-info' id='card-health'>
			<span class='card-info-key'>Health: </span><%= @card.health %> <%= image_tag "icons/Health_icon.png" %>
		</div>	
	<% end %>

	<% if @card.minion? %>
		<div class='card-info' id='card-attack'>
			<span class='card-info-key'>Attack: </span><%= @card.attack %> <%= image_tag "icons/Attack_icon.png" %>
		</div>
	<% end %>

	<% if @card.weapon? %>
		<div class='card-info' id='card-durability'>
			<span class='card-info-key'>Durability: </span><%= @card.durability %> <%= image_tag "icons/Attack_icon.png" %>
		</div>	
	<% end %>

</div>

<div class='card-description-area'>
	<div class='card-flavour-text'>
  		<span>Flavour:</span> <em><%= raw @card.flavour %></em>
	</div>	
</div>



