<%= link_to '<- Back to cards page', cards_path %>

<p id="notice"><%= notice %></p>

<div class='title-area'>

	<div class='title' id='card_title'>
		<h1> <%= @card.name %> </h1>
	</div>

	<div class='subtitle' id='<%= @card.getRarityName %>'>
		<p>
	  		<%= @card.getRarityName %> card
		</p>
	</div>

</div>


<div class='card_images' id='card_portrait'>


	<img src='<%= "http://wow.zamimg.com/images/hearthstone/cards/enus/animated/#{@card.json_id}_premium.gif" %>' style="float:left;">

</div>



<div class="card-info-area">





	<div class='card-info' id='card-text'>
  		<strong>Description:</strong>  <em><%= raw @card.text %></em>	
	</div>

	<div class='card-info' id='card_flavour_text'>
  		<strong>Flavour:</strong> <em><%= raw @card.flavour %></em>
	</div>

	<div class='card-info' id='card_set'>
		<strong>Card set: </strong> <%= @card.getCardSetName %>
	</div>	

	<div class='card-info' id='card_type'>
		<strong>Card type: </strong> <%= @card.card_type %>
	</div>	

	<div class='card-info' id='card_mana_cost'>
		<strong>Cost: </strong>	<%= @card.cost %>
	</div>	

	<div class='card-info' id='card_health'>
		<strong>Health: </strong><%= @card.health %>
	</div>	

	<div class='card-info' id='card_attack'>
		<strong>Attack: </strong><%= @card.attack %>
	</div>

	<div class='card-info' id='card_durability'>
		<strong>Durability: </strong><%= @card.durability %>
	</div>	

</div>
