   <li class="card-block" id='<%=card.name%>-block' onclick="location.href='<%= root_url + card.path %>';" style="cursor: pointer;">
   	<div class='card-block-name'>
   		<%= link_to card.name, root_url + card.path %>
   	</div>

   	<div class='card-block-info' id='<%=card.name%>-info'>	
   		<span class=<%= "#{card.rarity_name.downcase}-text" %>><%= card.short_description %></span>
   	</div>

   	<div class='card-block-stats'>
   		
   	</div>
   </li>