%li.card-block{:id => "#{card.name}-block", :onclick => "location.href='#{root_url + card.path}';", :style => "cursor: pointer;"}
  .card-block-name
    = link_to card.name, root_url + card.path
  .card-block-info{:id => "#{card.name}-info"}
    %span{:class => "#{card.rarity_name.downcase}-text"}
      #{card.short_description}
  .card-block-stats
